body{
    display: flex;
    justify-content: center;
    align-items: center;}
#box{
    margin-top: 10%;
}
#info{
    background : #2f80ea ;
}
#quote-box{

  border-radius: 3px;
  position: relative;
  /*margin-left:-170px;*/
  width: 500px;
  padding: 40px 50px;
  background-color: #fff;
  
}

@media screen and (max-width : 400px) {
  #quote-box {
    max-width: 290px !important;
    padding: 30px !important;
  }
    #box {
        margin-top: 0%;
    }
  #text {
        font-size: medium !important;
    }
}

@media screen and (min-width : 400px) and (max-width : 600px) {
  #quote-box {
    max-width: 360px !important;
    padding: 40px !important;
  }
   #box {
        margin-top: 0%;
    }
  #text {
  font-size: large !important;
    }
}

@media screen and (min-width : 600px) and (max-width : 800px) {

   #box {
        margin-top: 0%;
    }
  #text {
  font-size: large !important;
    }
}

#button{
    margin-top:7px;
}
#author{
    float: right;
}
#tweet-quote{
    text-decoration: none;
}
#new-quote{
    float: right;
}
.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
#tweet-quote a:hover {
  color: white !important;
}
a:hover {
  color: white !important;
}

#tumblr-quote a:hover{
  color: white !important;
}

#tumblr-quote button{
  color: black !important;
}

#tumblr-quote button:hover {
  background: black !important;
  color: wheat !important;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   /*position: absolute;*/
    top: -25px;
    left: 50px;
  }
  
#text {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}
